body {
  margin: 0;
  background: linear-gradient(180deg, rgb(250, 236, 231), rgb(247, 236, 213));
}

svg {
  position: absolute;
  bottom: 0;
  z-index: -100;
  height: 80vh;
  max-width: 100%;
}

h1 {
  text-align: center;
  padding: .5rem 0;
  background: tomato;
  color: white;
  width: 30%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
}

.todos {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 4px;
  width: 30%;
  background-color: white;
  z-index: 100;
}

.todo {
  width: 90%;
}
p {
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 200;
  color: #00204a;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  font-family: cursive;
  font-size: 1rem;
}

.item {
  display: flex;
  align-items: center;
}

form.item {
  text-align: center;
  /* margin-left: 1.25rem; */
  padding: 1.25rem 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: tomato;
}

input[type="checkbox"] {
  margin: 1.25rem;
}
input[type="text"] {
  border: none;
  text-align: center;
  width: 70%;
  padding: 0.5rem;
}

hr {
  line-height: 10px;
  border: 2px solid dotted;
  width: 100%;
}

button {
  background: tomato;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-left:1rem;
}
